body {
  background-color: #212529;
  color: #212529;
}

.main{
  padding: 8%;
  color:bisque;
  display: flex;
}

.left {
  margin: auto;
}

.right {
  margin: auto;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
}

img {
  width: 50%;
}

.btn {
  margin-right: 10px;
}

hr {
  width: 7%;
  color: black;
  border-style: none;
  border-top: dotted;
  border-width: 5px;
  margin: 30px auto;
}

#particles-js {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::selection {
  background:#00c9ff;
  color: white;
  border-radius: 10px;
}
